
<div class="min-h-screen flex justify-center items-center">
    <div class="gap-4">
        <h1 class="text-8xl">Hi, I am <span class="bg-gradient-to-br from-purple-700 to-orange-400 bg-clip-text text-transparent">Fangxing</span></h1>
        <h2>Computer Science Student@TUM</h2>
    </div>
</div>